<style>
  body, html {
    height: 100%;
  }
.hero-image.main-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image.project-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cafebackground.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image.board-hero-image {a
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/bullet.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: 35px;
}
.hero-text > img {
  max-height: 400px;
  max-width: 400px;
}
.home-card {
  border: none;
}
</style>

<div class="hero-image main-hero-image">
  <div class="hero-text">
    <h1 class="mt-1 ml-4" style="color: white !important;">Ajou Take-Out 예약 시스템</h1>
    
  </div>
</div>

<div class="text-center" style="height: 50%;">
  <h1 class="font-bold mt-5 mb-2">Ajou Cafe Reservation System</h1>
  <h6 class="font-bold">아래 서비스를 이용해 보세요.</h6>
  <div class="row mx-5" style="margin-top: 80px;">
    <div class="card home-card col-md-3" style="width: 18rem;">
      <div class="card-body">
        <i class="fas fa-chart-line mb-4" style="font-size: 60px;"></i>
        <h4 class="card-title">주문 예약</h4>
        <h5 class="card-subtitle mt-2 text-muted">매장에서 기다릴 필요가 없습니다</h5>
      </div>
    </div>
    <div class="card home-card col-md-3" style="width: 18rem;">
      <div class="card-body">
        <i class="far fa-clock mb-4" style="font-size: 60px;"></i>
        <h4 class="card-title">가져갈 시간대 설정</h4>
        <h5 class="card-subtitle mt-2 text-muted">원하는 시간대에 맞춰 음료를 제작합니다</h5>
      </div>
    </div>
    <div class="card home-card col-md-3" style="width: 18rem;">
      <div class="card-body">
        <i class="fas fa-comments mb-4" style="font-size: 60px;"></i>
        <h4 class="card-title">평점 비교</h4>
        <h5 class="card-subtitle mt-2 text-muted">평점을 통한 메뉴 추천</h5>
      </div>
    </div>
    <div class="card home-card col-md-3" style="width: 18rem;">
      <div class="card-body">
        <i class="far fa-bell mb-4" style="font-size: 60px;"></i>
        <h4 class="card-title">알림 기능</h4>
        <h5 class="card-subtitle mt-2 text-muted">변경사항을 알림을 통해 빠르게</h5>
      </div>
    </div>
  </div>
</div>

<div class="hero-image project-hero-image">
  <div class="hero-text">
    <div class="row mt-5 ml-5">
      <i class="fas fa-chevron-right mt-1" style="font-size: 25px;"></i>
      <h3 class="ml-2">아주대학교 카페 전용 홈페이지 입니다.</h3>
    </div>
  </div>
</div>